---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={['card', className]}>
  <slot />
</div>

<style>
  .card {
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--shadow-subtle);
    padding: var(--space-md);
    background: var(--color-white);
  }
</style>
